<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>{{message}}</p>
        <a href="https://linkedin.com/in/nikhil-singh-profile">
            <img src='/img/linkedIn.png' width='30px' />
        </a>
    </div>


    {{>footer}}
</body>

</html>